body {
	font-family: "Arial";
	margin: 60px auto;
	width: 70%;
}
h1 {
	font-color: blue;
	text-align: center;
}

nav ul, footer ul {
	font-family: "Arial";
	padding: 0px;
	list-style: none;
	font-weight: bold;
}

nav ul li, footer ul li {
	display: inline;
	margin-right: 20px;
}

a:hover {
	text-decoration: blink;f
}

a {	
	font-family: "Helvetica";
}